---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
	<section class="h-screen flex bg-purple-950 text-center">
		<p class="m-auto text-3xl text-white">Hero Section</p>
	</section>
</BaseLayout>